<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - Agendamento Médico</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="login-container">
    <h1>Sistema de Agendamento Médico</h1>
    <h2>Login</h2>

    <div th:if="${erro}" style="color:red; margin-bottom:10px;">
        <p th:text="${erro}"></p>
    </div>

    <div th:if="${sucesso}" style="color:green; margin-bottom:10px;">
        <p th:text="${sucesso}"></p>
    </div>

    <form action="/auth/login-web" method="post">
        <div>
            <label>Email:</label>
            <input type="email" name="email" required placeholder="seu@email.com"/>
        </div>
        <div>
            <label>Senha:</label>
            <input type="password" name="senha" required placeholder="******"/>
        </div>
        <div class="g-recaptcha" data-sitekey="6Ldxs4UtAAAAAJLw9ok3k4YzRvwNWZHs_LCavl-S"></div>
        <button type="submit">Entrar</button>
    </form>

    <script>
  document.getElementById('formLogin').addEventListener('submit', function(e) {
      e.preventDefault(); // Pausa o envio
      
      grecaptcha.ready(function() {
          grecaptcha.execute('SUA_CHAVE_DO_SITE', {action: 'login'}).then(function(token) {
              // Preenche o campo oculto com o token gerado
              document.getElementById('g-recaptcha-response').value = token;
              // Envia o formulário
              document.getElementById('formLogin').submit();
          });
      });
  });
</script>

    <p>Não tem conta? <a th:href="@{/registro}">Cadastre-se aqui</a></p>
</div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</body>
</html>
